body {
    background-color: #0051ff !important;

}

.quiz-card {
    width: 30rem;
}

.quizz-middle-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}